.booking {
    margin-top: 2rem;
    padding: 1rem;
    position: relative;

    .booking_container {
        .booking_heading {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1 {
                padding: 20px 0;
                font-size: 65px;
                font-style: italic;
                color: #DCCA87;
                letter-spacing: 0.2rem;
                margin: 5px 0;
                font-family: 'Cormorant Upright', serif;
                letter-spacing: 0.4rem;
            }

            p {
                font-size: 15px;
                color: #fff;
                margin: 1rem 0;
                line-height: 1.5rem;
            }
        }

        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;

            .form_date {
                margin: 1rem 0;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                min-width: 250px;

                .form_label {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin: 10px 0;
                    color: #fff;

                    span {
                        font-size: 18px;
                    }
                }

                .input {
                    outline: none;
                    padding: 10px;
                    border: none;
                    background-color: #DCCA87;
                    border-radius: 20px;
                    cursor: pointer;
                    color: #000;
                    font-size: 20px;
                    font-weight: 500;
                    width: 100%;
                }

                .form_label-time {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    margin: 10px 0;
                    color: #fff;

                    span {
                        font-size: 18px;
                    }
                }

                .input-time {
                    outline: none;
                    padding: 10px;
                    border: none;
                    background-color: #DCCA87;
                    border-radius: 20px;
                    cursor: pointer;
                    width: 100%;
                }
            }


        }

        .booking_submit {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2rem;

            .booking_btn {
                padding: 20px 40px;
                background-color: #FE6244;
                color: #fff;
                outline: none;
                border: none;
                border-radius: 10px;
                font-size: 16px;
                transition: 0.3s ease;
                font-weight: 500;

                &:hover {
                    cursor: pointer;
                    opacity: 0.6;
                }
            }
        }
    }

    @media (max-width:950px) {
        form {
            flex-direction: column;

            .form_date {
                min-width: 300px
            }
        }
    }
}